.posts {
    margin-top: 3rem;
    padding: 0 6.5rem;
}

/* ! Responsive */

@media(min-width:1800px) {
.posts{
    padding: 0 12rem;
}
}
@media(max-width:758px) {
    .posts {
        margin-top: 0;
        padding: 0;
    }
}