.profileImage {
    padding: 2px;
    background: hsla(37, 100%, 63%, 1);

    background: linear-gradient(45deg, hsla(37, 100%, 63%, 1) 14%, hsla(294, 100%, 55%, 1) 100%);

    background: -moz-linear-gradient(45deg, hsla(37, 100%, 63%, 1) 14%, hsla(294, 100%, 55%, 1) 100%);

    background: -webkit-linear-gradient(45deg, hsla(37, 100%, 63%, 1) 14%, hsla(294, 100%, 55%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FFB640", endColorstr="#e81cff", GradientType=1);
}

.seen {
    background: #d6d6d6 !important;
}

.profileImage img {
    border: 2px solid white;
}