.messages-wrapper {
    margin-left: 250px;
}

.messages-wrapper .message-list {
    border-right: 1px solid #dedede;
    width: 30%;
}

.messages-wrapper .message-list .top h1 {
    font-size: 20px;
    font-weight: 700;
}

.messages-wrapper .message-list .list button {
    width: 100%;
}

.messages-wrapper .message-list .list button li {
    padding: 0.5rem 1.2rem;
}

.messages-wrapper .message-list .list button:hover li {
    background-color: rgba(205, 205, 205, 0.266);
}

.messages-wrapper .message-content {
    width: 100%;
    height: 100vh;
}

.messages-wrapper .message-content .message-content-top {
    border-bottom: 1px solid #dededede;
}

.messages-wrapper .message-content .message-content-top .buttons button {
    font-size: 25px;
    margin-left: 10px;
}

.messages-wrapper .message-content .text-message-form form {
    border: 1px solid #dededede;
    border-radius: 25px;
    padding: 0.5rem 1rem;
}

.messages-wrapper .message-content .text-message-form form input:focus {
    outline: none;
}

.messages-wrapper .message-content .text-message-form form button {
    font-size: 30px;
    margin: 0 5px;
}

.messages-wrapper .message-content .messages .incoming .message {
    background-color: #EFEFEF;
    padding: 0.5rem 1rem;
    border-radius: 25px;
}

.messages-wrapper .message-content .messages .outgoing .message {
    background-color: #3797F0;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 25px;
}

.messages-wrapper .message-content .messages .messages-top .viewProfileButton button {
    background-color: #e5e5e5;
    color: black;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}

.messages-wrapper .message-content .messages .messages-top .viewProfileButton button:hover {
    background-color: #dedede;
}

/* !Responsive */
@media(max-width:991px) {
    .messages-wrapper {
        margin-left: 80px;
    }
}

@media(max-width:758px) {
    .messages-wrapper {
        padding-top: 3rem;
        padding-bottom: 4rem;
        margin-left: 0px;
    }

    .messages-wrapper .message-list .list button li {
        flex-direction: column;
    }

    .messages-wrapper .message-list .top {
        display: none;
    }

    .messages-wrapper .message-list .list button li {
        padding: 0.5rem 0.5rem;
    }

    .messages-wrapper .messages .message .w-64 {
        width: 10rem !important;
    }

    .messages-wrapper .message-content .message-content-top .buttons button {
        font-size: 20px;
        margin-left: 7px;
    }

    .messages-wrapper .message-list button li .infos {
        align-items: center;
    }
}